@import "tailwindcss";

/* Variables CSS */
:root {
  --primary: #D0323A;
  --primary-dark: #9F2743;
  --accent-orange: #E9540D;
  --accent-gold: #F6A016;
  --accent-yellow: #F9DC00;

  --background: #ffffff;
  --foreground: #111111;
}

/* Estilos globales */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "rlig" 1, "calt" 1;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}
